target/classes
!.gitignore
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
./Devops Workshop/untitled/.DS_Store
./Devops Workshop/.DS_Store
./.DS_Store
./Project Bank/idatt1002_2023_group14/.DS_Store
./Project Bank/.DS_Store
../.DS_Store
target/